<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="producer" output="screen" args="load nodelet_example::ProducerNodelet nodelet_manager"/>
  <node pkg="nodelet" type="nodelet" name="consumer" output="screen" args="load nodelet_example::ConsumerNodelet nodelet_manager"/>
</launch>

